:root {
    --primeira-color: #FF7700;
    --secundaria-color: #F59E0B;
    --terciaria-color: #40426F;
    --quarta-color: #1A1D58;
    --quinta-color: #FFFFFF;
    --sexta-color: #F4F4F4;
    --setima-color: #D9D9D9;
    --oitava-color: #60628F;
    --nona--color: #5A5C80;
    --decima--color: #54556C;
}